@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MuiInputLabel-root {
  color: #006D77 !important;
}

.MuiPickersPopper-root{
      top: -10vw !important;
}

body{
height: 100vh;
}

#__next{
  height: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}